################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/features1
/features
/bow
/frames
/.ipynb_checkpoints
/cluster
/ImageRecommenderResnet18/.ipynb_checkpoints
/image_similarity-master/.github
/ImageRecommenderResnet18/inputImagesCNN
